.home{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-header{
    background: white;
    padding: 0.2rem 0.32rem 0.52rem;
    margin-bottom: 0.2rem;
}

.home-header h2{
    margin-bottom: 0.36rem;
    height: 0.84rem;
    font-size: 0.6rem;
    font-weight: 600;
    color: #000000;
    line-height: 0.84rem;
    text-shadow: 4px 2px 1px #DCDCDC;
}

.home-header .home-header-user{
    height: 1.12rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.home-header-user::after{
    content: '>';
    font-size: 0.28rem;
    height: 0.28rem;
    width: 0.16rem;
    position: absolute;
    right: 0;
    top: 0.42rem;
    color: #CFCFCF;
}

.home-header .home-header-user img{
    height: 1.12rem;
    width: 1.12rem;
    border-radius: 0.16rem;
    margin-right: 0.28rem;
}

.home-user-info{
    flex: 1;

}

.home-user-info >p:nth-of-type(1){
    font-size: 0.32rem;
    line-height: 0.72rem;
    height: 0.54rem;
    color: black;
    font-weight: 500;
}

.home-user-info >p:nth-of-type(2){
    font-size: 0.24rem;
    line-height: 0.56rem;
    height: 0.4rem;
    color: #a1a1a1;
    font-weight: 500;
}


.licence{
    padding: 0.54rem 0.32rem 0.74rem;
    background: white;
    margin-bottom: 0.2rem;
}

.licence .licence-title{
    font-size: 0.32rem;
    line-height: 0.44rem;
    height: 0.44rem;
    margin-bottom: 0.42rem;
    display: flex;
    justify-content: space-between;
}

.licence-title span{
    color: black;
    font-weight: 600;
}

.licence-title a{
    color: #1054ee;
    font-weight: 500;
    padding-left: 1rem;
}

.licence .licence-banner{
    height: 2.78rem;
    background: url('../image/banner.svg') no-repeat left top/100%;
    box-shadow: 0px 0px 12px 0px rgba(153, 153, 153, 0.47);
    border-radius: 0.18rem;
    box-sizing: border-box;
    padding-top: 0.5rem;
}

.licence .licence-banner p:nth-of-type(1){
    text-indent: 1.28rem;
    height: 0.44rem;
    font-size: 0.32rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 0.44rem;
    margin-bottom: 0.28rem;
}

.licence .licence-banner p:nth-of-type(2){
    text-align: center;
    height: 0.44rem;
    font-size: 0.32rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 0.44rem;
}

.licence-apply{
    padding: 0.6rem 0.32rem;
    background: white;
    flex: 1;
}

.licence-apply .licence-apply-title{
    font-size: 0.32rem;
    line-height: 0.32rem;
    height: 0.32rem;
    color: black;
    font-weight: 600;
    margin-bottom: 0.42rem;
}

.licence-list{
    display: flex;
    justify-content: space-between;
}

.licence-list-item{
    width: 1.8rem;
}

.licence-list-item img{
    width: 0.72rem;
    height: 0.72rem;
    margin: 0 auto 0.18rem;
}

.licence-list-item p{
    text-align: center;
    font-size: 0.24rem;
    font-weight: 600;
    color: #333333;
    line-height: 0.34rem;
}
