*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    border: none;
}

html, body{
    background: #F8FBFC;
    height: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.scrollbar{
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.scrollbar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

input:focus{
    outline: medium;
}

button{
    border: none;
}

button:focus{
    outline: medium;
}

.hide{
    display: none!important;
}

.visibility{
    visibility: hidden!important;
}

