.scan{
    background-color: white;
    position: relative;
}

.scanBackground{
    width: 100%;
    margin-bottom: 1rem;
}

.scanIcon{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 7.5rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background: url("../image/scanIcon.svg") no-repeat center/1.32rem 1.32rem;
    background-color: white;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.07);
}

.scan p:nth-of-type(1){
    width: 100%;
    position: absolute;
    top: 10.6rem;
    font-size: 0.36rem;
    font-weight: 400;
    color: #3B82FF;
    text-align: center;
}

.scan p:nth-of-type(2){
    width: 100%;
    position: absolute;
    top: 12.6rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 0.2rem;
}

#video{
    width: 6.6rem;
    height: 6.6rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.5rem;

}

/*#canvas{*/
/*    width: 2.8rem;*/
/*    height: 2.8rem;*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    !*margin: auto;*!*/
/*    !*top: 7.5rem;*!*/
/*}*/
